body {
}

#all-heroes-div {
    margin: 10px;
    width: 80%;
    height: 95%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.header-main-attribute-img {
    margin: 0 8px;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-main-attribute {
    margin: 10px 4px;
    vertical-align: middle;
}

#str-heroes-header {
    color: #EC3D06;
}

#agi-heroes-header {
    color: #26E030;
}

#int-heroes-header {
    color: #00D9EC;
}

.hero-category-div {
    width: 90%;
}

.hero-img {
    width: 90px;
    height: 51px;
    margin: 4px 2px;
}

#tools-column {
    margin-left: 85%;
    width: 500px;
}

#selectedHero {
    width: 350px;
    height: 500px;
    background: #333333;
    border: solid #AA0000 5px;
    color: #AAAAAA;
    font-size: x-large;
    border-radius: 5px;
    padding: 10px 15px;
    visibility: hidden;
}

#selectedHeroImg {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

#selectedHeroName {
    text-align: center;
    font-size: 27pt;
}

#main-attribute-img, #attack-type-img {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;
}

#stats-div div span {
    vertical-align: middle;
    width: 145px;
    display: inline-block;
}

.star-img {
    height: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;
}

.hero-hover {
    border: solid #AA0000 3px;
    border-radius: 3px;
}

#attack-type-checkbox-div  {
    margin-left: 5px;
    vertical-align: middle;
}

#attack-type-checkbox-div span{
    font-size: 15pt;
}

#attack-type-checkbox-div label {
    width: 90px;
}

#filters {
    width: 350px;
    height: 400px;
    background: #333333;
    border: solid #AA0000 5px;
    color: #AAAAAA;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 15px;
}

.filtered-out {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#filters h5 {
    text-align: center;
    color: #AAAAAA;
    font-size: 27pt;
}