body {
}

#hero-column {
    width: 78%;
    position: absolute;
    top: 15px;
    left: 20px;
}
#all-heroes-div {
    margin: 3px;
}

.header-main-attribute-img {
    margin: 0 8px;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-main-attribute {
    margin: 5px 4px;
    vertical-align: middle;
}

#str-heroes-header {
    color: #EC3D06;
}

#agi-heroes-header {
    color: #26E030;
}

#int-heroes-header {
    color: #00D9EC;
}

.hero-img {
    width: 71px;
    height: 40px;
    margin: 4px 1px;
}

#tools-column {
    margin-left: 87%;
    width: 500px;
}

#selectedHero {
    width: 350px;
    height: 500px;
    background: #333333;
    border: solid #AA0000 5px;
    color: #CC0000;
    font-size: x-large;
    border-radius: 5px;
    padding: 10px 15px;
    visibility: hidden;
    /* display: ; */
}

#selectedHeroImg {
    margin: 10px 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    width: 150px;
    height: 84px;
}

#selectedHeroName {
    text-align: center;
    font-size: 27pt;
}

#main-attribute-img, #attack-type-img {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;
}

#stats-div div span {
    vertical-align: middle;
    width: 145px;
    display: inline-block;
}

.star-img {
    height: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;
}

.hero-hover {
    border: solid #AA0000 3px;
    border-radius: 3px;
}

#filters div {
    margin-left: 5px;
    vertical-align: middle;
}

#filters span {
    font-size: 17pt;
}

#attack-type-checkbox-div label {
    width: 90px;
    margin: 10px 0;
}

#filters {
    width: 350px;
    height: 400px;
    background: #333333;
    border: solid #AA0000 5px;
    color: #CC0000;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 15px;
}

#filters h5 {
    text-align: center;
    color: #CC0000;
    font-size: 27pt;
}

.position-factor-div span{
    display: inline-block;
    width: 80px;
    margin: 10px 0;
}

#typed-hero-name {
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 40%;
    text-align: center;
    font-size: 60pt;
    color: #f6f6f6;
}

.draft-hero-div {
    width: 71px;
    height: 40px;
    box-shadow: 5px 10px;
    background: red;
}