<link rel="stylesheet" href="~/Content/draft-simulator.css"/>

<h2 id="all-heroes-header">Heroes</h2>
<div id="allHeroes">
    <h4 id="str-heroes-header">Strength</h4>
    <div id="str-heroes" class="hero-div">
    </div>
    <h4 id="agi-heroes-header">Agility</h4>
    <div id="agi-heroes" class="hero-div">
    </div>
    <h4 id="int-heroes-header">Intelligence</h4>
    <div id="int-heroes" class="hero-div">
    </div>

</div>
